<h1> Create Codes</h1>

<%= simple_form_for :code do |f| %>


  <p>
    <%= f.input :project, :selected => @project_id, :value_method => :id,  :label_method => :project, collection: @projects, label: 'Select a Project' %>
  </p>
 <p>
   <%= f.input :expiry, as: :date, label: 'Code expiry date' %>
 </p>
 <p>
   <%= f.input :quantity, as: :integer, label: 'Number of codes to generate' %>
 </p>
  <p>
    <%= f.submit 'Generate Codes' %>
  </p>
<% end %>

<%= link_to 'Back to all projects', projects_path %> 
