<h1> Create Codes</h1>

<%= simple_form_for :code do |f| %>


  <p>
    <%= f.input :project, collection: @projects.collect { |p| ("Project #" + p.number.to_s + ": " + p.project) }, label: 'Select a Project' %>
  </p>
 <p>
   <%= f.input :expiry, as: :date, label: 'Code expiry date' %>
 </p>
 <p>
   <%= f.input :quantity, as: :integer, label: 'Number of codes to generate' %>
 </p>
  <p>
    <%= f.submit 'Generate Codes' %>
  </p>
<% end %>