<h1> Create Codes</h1>

<%= simple_form_for :code, url: codes_path do |f| %>
  <p>
    <%= f.input :project, label: 'Project Name' %>
  </p>
 <p>
   <%= f.input :expiry, as: :date, label: 'Code expiry date' %>
 </p>
 <p>
   <%= f.input :points, collection: 1..10, label: 'Number of points' %>
 </p>
  <p>
    <%= f.input :description, as: :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>