<h1>Listing Projects</h1>
 
<%= link_to 'New Project', new_project_path %>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>Points</th>
    <th>Person in Charge</th>
    <th colspan="3"></th>
  </tr>
 
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.number %></td>
      <td><%= project.project %></td>
      <td><%= project.description %></td>
      <td><%= project.points %></td>
      <td><%= project.name %> <br> <%= project.email %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Create Codes', new_project_code_path(project) %></td>
    </tr>
  <% end %>
</table>
