<div class="container">

	<div class="row">
		<div class="col-xs-2">Project:</div>
		<div class="col-sm-5">(<%= @project.number %>) <%= @project.project %></div>
	</div>

	 
	<div class="row">
		<div class="col-xs-2 col-sm-5"><%= @project.description %></div>
	</div>

	<div class="row">
		RP Points: <%= @project.points %>
  	</div>

  	<div class="row">
  		<strong>Person in charge:</strong>
  	 	<%= @project.name %>: <%= @project.email %>
  	</div>

 	<div class="row">
  		<%= link_to 'Back to all projects', projects_path %> | <%= link_to 'Edit', edit_project_path(@project) %>
	</div>
</div>

