<p>
  <strong>Project:</strong>
  (<%= @project.number %>) <%= @project.project %>
</p>

<p>
	<%= @project.description %>
</p>

<p>
	RP Points: <%= @project.points %>
</p>
 
<p>
  <strong>Person in charge:</strong>
  <%= @project.name %>: <%= @project.email %>
</p>

<p>
	<strong>
</p>